@import url("mf-styling/src/color-primary-fuchsia.css");
@import url("mf-styling/src/color.css");
@import url("mf-styling/src/global.css");
@import url("mf-styling/src/layout.css");
@import url("mf-styling/src/nav.css");
@import url("mf-styling/src/main-nav.css");
@import url("mf-styling/src/dropdown.css");
@import url("mf-styling/src/table.css");
@import url("mf-styling/src/button.css");
@import url("mf-styling/src/form.css");
@import url("mf-styling/src/card.css");
@import url("@kronos-integration/svelte-components/src/services.css");
@import url("svelte-common/src/common.css");
@import url("svelte-entitlement/src/entitlement.css");
@import url("svelte-log-view/src/log.css");
